$brand: #a5b3fe;
$grey: #e3ebef;

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  text-align: center;
  overflow-x: hidden;
  transition: all 0.8s ease;
  min-width: 300px;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  margin: 0;
}

h3 {
  margin: 0;
}

svg {
  * {
    pointer-events: none;
  }
}

.content {
  max-width: 64em;
  margin: auto;
}

.flex {
  display: flex;
}

.header-container {
  height: 70px;

  header {
    height: 70px;
    background-color: $brand;
    font-size: 1.125em;

    .logo {
      padding: 5px;
      color: white;
      text-shadow: 2px 2px white;
    }

    a {
      outline: none;
      text-decoration: none;
      color: black;

      &.contacts {
        color: blue;
      }
    }
  }

  nav {
    padding: 10px;
    flex-grow: 1;
    justify-content: space-between;
    
    a {
      color: black;
      padding: 10px 5px;

      &:not(.contacts) {
        flex-grow: 1;
      }
      
      &:hover {
        color: white;
      }
    }
  }

  .menu-icon {
    display: none;
    width: 40px;
    height: 60px;; 
    padding-right: 20px;
    cursor: pointer;
  }
}

.header-container {
  .js-header-sticky {
    position: fixed;
    width: 100%;
    z-index: 2;
    height: auto;
    font-size: 1em;
    opacity: 0.9;
  }
}

.fun {
  padding: 40px 0;

  h1 {
    font-size: 40px;
  }
}

.fd {
  margin-top: 4px;
  padding: 20px;
  height: 300px;
  background-color: skyblue;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
}

.kontaktai {
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
  
  .susisiek {
    width: 100%;
    background-color: $brand;

    h3 {  
      color: black;
      margin: 0;
      padding: 5px 0;
    } 
  }

  .details {
    word-break: break-word;
  }
}

.kubilas-only {
  .fun {
    padding: 20px 0;
  }

  .fd {
    padding: 0;
    height: 360px;
    background-color: $grey;
  }

  .paslaugos {
    .content {
      .paslauga {
        max-width: 556px;

        img {
          margin-bottom: 0;
        }
      }
    }
  }
}

.paslaugos {
  .head {
    background-color: $brand;
  }

  .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    .paslauga {
      // deprecated
      position: relative;   

      flex-grow: 1;   
    }

    .img {
      position: relative;
    }

    .description {
      position: absolute;
      top: 40%;
      z-index: 1;
      color: #fff;
      background-color: $brand;
      opacity: 0.8;
      padding: 10px;
      left: 50%;
      font-size: 1.25em;
      transform: translateX(-50%);
      font-weight: bold;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    .more-info {
      padding: 6px 0;
      background-color: #00ff5db3;
      color: black;
      cursor: pointer;

      .hidden {
        display: none;
      }
    }

    .additional-info {
      opacity: 0;
      max-height: 0;
      border: 0;
      padding: 0;
      margin: 0;
      display: none;
      box-sizing: border-box;
      overflow: hidden;
      border: 0 solid transparent;

      transition: 750ms ease;
      transition-property: max-height,opacity,margin,padding,border-color,border-width;

      &.show {
        padding: 6px 0;
        margin: 6px 0;
        opacity: 1;
        max-height: 1024px;
        border-color: black;
        border-width: 1px;
      }
    }

    .short-description {
      margin: 6px 0;
      padding: 2px 0;
    }

    img {
      width: 480px;
      vertical-align: middle;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .paslauga, img, .additional-info {
      width: 100%;
    }  
  } 

}

.social-media {
  padding: 5px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  background-color: $brand;

  .item {
    margin: 5px 10px;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 40%;

     a {
      display: inline-block;
      width: 32px;
      height: 32px;
      padding: 2px;

      svg {
        width: 100%;
        height: 100%;
        color: black;
      }
    }  
  }
}

.go-top {
  position: fixed;
  display: none;
  width: 32px;
  height: 32px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 2px;

  &.show {
    display: block;
  }
}

// up to 768px
@media only screen and (max-width: 768px) {
  .header-container {
    .menu-icon {
      display: flex;
      padding-right: 8px;

      svg {
        height: 100%;
      }
    }

    nav {
      z-index: 1;
      flex-wrap: wrap;
      font-size: 0.875em;

      a {
        width: 100%;
        background-color: $brand;
        display: none;
      }

      &.js-display {
        a {
          display: block;
        }
      }
    } 
  }

  .kubilas-only .fun h1{
    font-size: 32px;
  }

  .m-hidden {
    display: none;
  }
}

// rezervacija
.rezervacija {
  h2 {
    background-color: $brand;
  }

  .datepicker {
    max-width: 64em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    border: 1px solid black;


    .calendar {
      width: 50%;

      .year-month h3 {
        padding: 10px;
      }

      .week-days {
        display: flex;

        span {
          width: 1/7*100%;
          padding: 10px 0;
          box-sizing: border-box;
          border: 1px solid white;
          background-color: black;
          color: white;
        }
      }

      .days {
        display: flex;
        flex-wrap: wrap;

        span {
          width: 1/7*100%;
          padding: 10px;
          box-sizing: border-box;
          border: 1px solid #fff;

          &.picker-d {
            cursor: pointer;

            &:hover {
              background-color: $brand;
            }
          }

          &.picker-d-grey {
            background-color: $grey;
          }
        }
      }
    }
  }
}  

// 1024px and up
@media only screen and (min-width: 1024px) {
  .header-container header {
    font-size: 1.25em;
  }

  .paslaugos {
    .content {
      .paslauga {
        width: auto;

        > * {
          max-width: 480px;
        }
      }
    }
  }

  .kubilas-only {
    .fun {
      padding: 30px 0;
    }

    .fd {
      padding: 0 10px;
    }

    .paslaugos {
      .content {
        .paslauga {
          max-width: 480px;
        }
      }
    }
  }
}


img:not([alt]) {
  filter: grayscale(100%);
}
